{% extends 'base.html.twig' %}

{% block title %}Action{% endblock %}

{% block body %}
    <h1>Action</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ action.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ action.code }}</td>
            </tr>
            <tr>
                <th>Parameters</th>
                <td>{{ action.parameters ? action.parameters|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('action_index', {'rule': action.rule.id}) }}">back to list</a>

    <a href="{{ path('action_edit', {'id': action.id, 'rule': action.rule.id}) }}">edit</a>

    {{ include('action/_delete_form.html.twig') }}
{% endblock %}
